* {
	padding: 0;
	margin: 0;
	background: #00BFFF;
	list-style: none;
	text-decoration: none;
}

.menu {
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
}

.menu-container {
	width: 100%;
    margin-top: 2rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	font-size: 1.5rem;
}

@media (max-width: 600px){
	.menu-container {
		width: 65%;
		flex-wrap: wrap;
		flex-direction: column;
	}
}

li {
	margin: 0 7px 15px;
}

h1 {
 	color: purple;
 	text-align: center;
 	font-size: 3rem;
 	font-family: 'Mansalva', cursive;
}

p {
	color: #FFFFFF;
	text-align: justify;
	font-size: 1.3rem;
	font-family: 'Mansalva', cursive;
}

main {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

@media (max-width: 600px){
	main {
		align-items: center;
		flex-direction: column;
	}
}

.cidade-1, .cidade-2, .cidade-3, .cidade-4, .cidade-5 {
	width: 28vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 15px;
}

@media (max-width: 600px){
	.cidade-1, .cidade-2, .cidade-3, .cidade-4, .cidade-5 {
		width: 70vw;
	}
}

.image {
	height: 36vh;
	width: 100%;
	border-radius: 30px;
	margin-bottom: 10px;
}
